.container {
  display: flex;
  max-width: 1260px;
  min-height: 700px;
  margin: 0 auto;
}

.sidebar {
  width: 460px;
  padding: 0 20px;
  background-color: #61dafb;
}

.main {
  flex-grow: 1;
  padding: 0 20px;
  background-color: #e61739;
}
